/* <===== FONTS =====> */
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

/* font-family: 'Fraunces', serif; */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
/* <===== ROOT & VARIABLES =====> */
:root {
  /* TYPOGRAPHY */
  font-size: 10px;  /* making my font size 10px would make it easier to calculate  */
  --ff-primary: 'Montserrat', sans-serif;;
  --ff-secondary: 'Fraunces', serif;;
  --fs-p: 14px;
  --fs-h1: 32px;
  --fs-h2: 12px;
  --fs-btn: 14px;
  --fw-normal: 500;
  --fw-bold: 700; 
  /* COLOR */
  --color-body-bg: hsl(30, 38%, 92%);
  --color-card-bg: white;
  --color-text: hsl(228, 12%, 48%);
  --color-h1: hsl(212, 21%, 14%);
  --color-h2: hsl(228, 12%, 48%);
  --color-current-price: hsl(158, 36%, 37%);
  --color-btn-bg: hsl(158, 36%, 37%);
  --color-btn-txt: white;
  --color-btn-hover: #1A4031;
  --color-a: hsl(158, 36%, 37%);
  /* LAYOUT */
  --white-space: 25px;
}

/* <===== GLOBAL STYLES =====> */
h1 {
  font-family: var(--ff-secondary);
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  text-transform: capitalize;
  color: var(--color-h1);
  line-height: 1.25;
  margin-bottom: 1rem;
}

h2 {
  font-family: var(--ff-heading);
  font-size: var(--fs-h2);
  font-weight: var(--fw-normal);
  text-transform: capitalize;
  color: var(--color-h2);
  line-height: 1.35;
  margin-bottom: 10px;
}

p {
  font-family: var(--ff-primary);
  font-size: var(--fs-p);
  font-weight: var(--fw-normal);
  color: var(--color-text);
  line-height: 1.5;
  margin-bottom: 1.75rem;

}

a {
  text-decoration: none;
}

.btn {
  display: block;
  width: 100%;
  background-color: var(--color-btn-bg);
  color: var(--color-btn-txt);
  font-size: var(--fs-btn);
  text-transform: capitalize;
  padding: 1rem 2rem;
  border: none;
  border-radius: 7.5px;
  transition: .3s;
  text-align: center;
  cursor: pointer;
  font-weight: var(--fw-bold);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-primary);
}

.btn:hover {
  background-color: var(--color-btn-hover) ;
}

/* <===== BODY =====> */
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-p);
  color: var(--color-text);
  background-color: var(--color-body-bg);
  padding: var(--white-space);
}

main {
  min-height: 90vh;
}

.card {
  margin: 0 auto;  /* Centers the card */
  max-width: 375px;
  background-color: var(--color-card-bg);
  border-radius: 10px;
}

.img-mobile {
  border-radius: 10px 10px 0 0;  /* Adds border to top left & right corner */
}

.img-desktop {
  display: none;
}

.description-container {
  padding: var(--white-space);
}

.subheading {
  letter-spacing: 6px;
  text-transform: uppercase;
}

.icon-cart {
  margin-right: 10px;
}

.price-container {
  padding: var(--white-space) 0;  /* Adds white space to top & bottom */
}

.current-price {
  font-family: var(--ff-secondary);
  font-size: 32px;
  font-weight: var(--fw-bold);
  color: var(--color-current-price);
}

.previous-price {
  margin-left: 20px;
  text-decoration: line-through;
}

/* <===== FOOTER =====> */

.attribution { 
  font-size: 12px; 
  text-align: center; 
}

.attribution a { 
  color: var(--color-a); 
}

.attribution a:hover {
  color: var(--color-btn-hover);
  font-weight: var(--fw-bold);
}

/* <===== MEDIA QUERY =====> */
@media screen and (min-width: 769px) {
  main {
    display: flex;
    align-items: center;
    /* Centers the card vertically */
  }

  .card {
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Sets image & description side by side  */
  }

  .img-container, .description-container {
    flex-basis: 50%;
  }

  .img-mobile {
    display: none;
  }
  
  .img-desktop {
    display: block;
    border-radius: 10px 0 0 10px; /* Adds border radius to top left and bottom left corner */
    object-fit: cover;  /* Clips the image according to the aspect ratio */
  }
}